<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="index.html">E7-15</a>
  </div>
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <a href="index.html">
            <i class="fa fa-info fa-fw"></i>
            Панель прибора</a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cog fa-fw"></i>
            Режим эмулятора
            <span class="fa arrow"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-commenting-o fa-fw"></i>
            Режим справки
            <span class="fa arrow"></span>
          </a>
          <ul class="nav nav-second-level">
            <li>
              <a href="#">Органы управления и индикаторы</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-graduation-cap fa-fw"></i>
            Режим обучения
            <span class="fa arrow"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-check-square fa-fw"></i>
            Режим контроля
            <span class="fa arrow"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
